<div
  class="mainDashBoard w-80 bg-light h-screen d-flex justify-content-start align-items-start mt-4 flex-column"
  ng-controller="superCategoryController"
>
  <div class="containorProfileHello w-100 p-3 mx-5 d-flex flex-column">
    <h2 class="font-weight-medium">Hello {{userName}} 👋</h2>
    <p class="text-muted font-size-md-custom px-2">
      Last Check your stats today!
    </p>
  </div>

  <div
    class="containorFullCards w-100 d-flex justify-content-center align-items-center flex-wrap p-3"
  >
    <div
      class="containorAnalytics w-full d-flex flex-row justify-content-center align-items-center"
    >
      <div
        class="fourthAnalytics w-25 mx-3 bg-white shadow-sm rounded-md d-flex justify-content-start align-items-start flex-column p-0"
      >
        <div
          class="cardHeader w-full d-flex justify-content-between px-3 py-3 align-items-center"
        >
          <h6>Total Revenue</h6>
          <i class="fa-solid fa-ellipsis-h cursor-pointer text-muted"></i>
        </div>
        <div class="cardInfo w-full px-3 d-flex">
          <div
            class="firstCardInfo w-40 d-flex flex-column justify-content-between h-100"
          >
            <h3 class="font-weight-bold">2.4k+</h3>
            <p class="text-success font-size-sm font-weight-medium">
              40% increase
            </p>
          </div>
          <div class="secondCardInfo w-60"></div>
        </div>
      </div>
      <div
        class="fourthAnalytics w-25 mx-3 bg-white shadow-sm rounded-md d-flex justify-content-start align-items-start flex-column p-0"
      >
        <div
          class="cardHeader w-full d-flex justify-content-between px-3 py-3 align-items-center"
        >
          <h6>Total Revenue</h6>
          <i class="fa-solid fa-ellipsis-h cursor-pointer text-muted"></i>
        </div>
        <div class="cardInfo w-full px-3 d-flex">
          <div
            class="firstCardInfo w-40 d-flex flex-column justify-content-between h-100"
          >
            <h3 class="font-weight-bold">2.4k+</h3>
            <p class="text-success font-size-sm font-weight-medium">
              40% increase
            </p>
          </div>
          <div class="secondCardInfo w-60"></div>
        </div>
      </div>
      <div
        class="fourthAnalytics w-25 mx-3 bg-white shadow-sm rounded-md d-flex justify-content-start align-items-start flex-column p-0"
      >
        <div
          class="cardHeader w-full d-flex justify-content-between px-3 py-3 align-items-center"
        >
          <h6>Total Revenue</h6>
          <i class="fa-solid fa-ellipsis-h cursor-pointer text-muted"></i>
        </div>
        <div class="cardInfo w-full px-3 d-flex">
          <div
            class="firstCardInfo w-40 d-flex flex-column justify-content-between h-100"
          >
            <h3 class="font-weight-bold">2.4k+</h3>
            <p class="text-success font-size-sm font-weight-medium">
              40% increase
            </p>
          </div>
          <div class="secondCardInfo w-60"></div>
        </div>
      </div>

      <div
        class="fourthAnalytics w-25 mx-3 bg-white shadow-sm rounded-md d-flex justify-content-start align-items-start flex-column p-0"
      >
        <div
          class="cardHeader w-full d-flex justify-content-between px-3 py-3 align-items-center"
        >
          <h6>Total Revenue</h6>
          <i class="fa-solid fa-ellipsis-h cursor-pointer text-muted"></i>
        </div>
        <div class="cardInfo w-full px-3 d-flex">
          <div
            class="firstCardInfo w-40 d-flex flex-column justify-content-between h-100"
          >
            <h3 class="font-weight-bold">2.4k+</h3>
            <p class="text-success font-size-sm font-weight-medium">
              40% increase
            </p>
          </div>
          <div class="secondCardInfo w-60"></div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="containorTable w-100 p-1 d-flex justify-content-center align-items-center mx-4"
  >
    <div
      class="containorBrand w-100 bg-white px-3 d-flex justify-content-start align-items-center rounded-sm shadow-sm flex-column rounded-md shadow-sm"
    >
      <div
        class="containorButtontoAdd w-100 p-3 d-flex justify-content-between my-3 align-items-center"
      >
        <!-- Stylish Hedding with Underline -->
        <h4 class="font-weight-medium">Super Categories</h4>
      </div>
      <div class="simple-Table w-100 d-flex">
        <table class="table table-striped table-hover">
          <thead class="thead-dark bg-dark text-white p-3">
            <tr class="m-3">
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <!-- Array of addresses  -->
              <th scope="col">Associated With</th>

              <!-- Enable and Disable  -->
              <th scope="col">Enable</th>
              <th scope="col">Disable</th>
            </tr>
          </thead>
          <tbody ng-repeat="superCategory in superCategories">
            <tr
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-whatever="@mdo"
            >
              <th scope="row">{{$index + 1}}</th>
              <td>{{superCategory.superCategoryName}}</td>
              <td>{{superCategory.superCategoryDescription}}</td>
              <td>{{superCategory.brand.brandName}}</td>
              <!-- Show Array Elements with some styling in bootstrap -->

              <!-- <td>{{brand.brandWebsite}}</td> -->
              <td>
                <button
                  class="btn btn-success"
                  ng-click="enableBrand(brand.brandId)"
                >
                  Enable
                </button>
              </td>
              <td>
                <button
                  class="btn btn-danger"
                  ng-click="disableBrand(brand.brandId)"
                >
                  Disable
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
