<div
  class="containorDashBoard w-100 d-flex justify-content-start align-items-center bg-light"
  ng-controller="dashboardController"
>
  <div class="sidebar w-20 h-screen bg-white">
    <div
      class="containorLogo w-100 px-5 py-4 d-flex justify-content-start align-items-center"
    >
      <h2 class="font-size-xxxl font-weight-bold text-dark">POSIST Studios</h2>
    </div>
    <div
      class="containorMenuItems w-full d-flex px-5 mt-4 justify-content-start align-items-start flex-column"
    >
      <p class="text-muted">Main Menu</p>
      <!-- <button class="btn btn-dark w-100 oy-3">Users</button>      -->
      <div
        class="containorItems d-flex justify-content-start align-items-center flex-column w-full"
        ng-repeat="entry in admin"
      >
        <a
        ui-sref="{{entry.link}}"
          ng-click="changeActiveStateDashboard(entry.number)"
          class="py-3 px-4 w-100 bg-light text-dark rounded-md  my-2 font-size-md cursor-pointer text-decoration-none"
          ng-class="entry.isActive ? 'bg-dark text-white' : 'text-dark'"
          ><span class="text-dark px-2"><i ng-class="entry.icon"></i></span>
          {{entry.name}}</a
        >
      </div>
    </div>
    <div
      class="containorPreferences w-full d-flex px-5 mt-4 justify-content-start align-items-start flex-column"
    >
      <p class="text-muted">Preferences</p>
      <a
        href="#"
        class="py-3 px-4 w-100 bg-light text-dark rounded-md text-decoration-none my-2 font-size-md"
        ><span class="text-dark px-2"><i class="fa-solid fa-cog"></i></span>
        Settings</a
      >
      <a
        href="#"
        class="py-3 px-4 w-100 bg-light text-dark rounded-md text-decoration-none my-2 font-size-md"
        ><span class="text-dark px-2"><i class="fa-solid fa-play"></i></span>
        Help Center</a
      >
    </div>
    <!-- Profile Section  -->
    <div
      class="containorProfile w-full d-flex px-5 mt-4 justify-content-start align-items-start flex-column"
    >
      <p class="text-muted">Profile</p>
      <a
        href="#"
        class="py-3 px-4 w-100 bg-light text-dark rounded-md text-decoration-none my-2 font-size-md"
        ><span class="text-dark px-2"
          ><i class="fa-solid fa-user-circle"></i
        ></span>
        Profile</a
      >
      <a
        href="#"
        class="py-3 px-4 w-100 bg-light text-dark rounded-md text-decoration-none my-2 font-size-md"
        ><span class="text-dark px-2"
          ><i class="fa-solid fa-user-circle"></i
        ></span>
        Logout</a
      >
    </div>
  </div>
  <ui-view class="w-80"></ui-view>
</div>
